{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %} 

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-2">Fluid Jumbotron Placeholder</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <a href="#sec1" class="btn btn-lg btn-info mt-2">Get Started Now</a>

  </div>
</div>

<!-- begin section 1 -->
<section id="sec1" class="sec1">

  <div class="container">

    <div class="section-heading">
      <h1 class="display-4 text-center mt-4">Scroll Section</h1>
      <p class="lead text-center">Section lead paragraph text.</p>


    </div>

    <div class="row pt-5">

      <div class="col-md-6 mb-3">
        <h3 class="h3">Left Column Heading</h3>
        <p>Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque.</p>
        <p>Fames lorem ipsum dolor sit amet consectectur elit facilisi. Id egestas purus! Minim eveniet felis, nobis optio eos officiis, lorem cursus, feugiat iure libero! Saepe, distinctio incididunt rhoncus.</p>
        <a href="#" class="btn btn-info">Dummy Button</a>
      </div>

      <div class="col-md-6 mb-3">
        <h3 class="h3">Right Column Heading</h3>
        <p>Fames lorem ipsum dolor sit amet consectectur elit facilisi. Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias, pellentesque provident vitae dolor sit amet consectectur?</p>
        <p>Tempor harum, consequuntur mollitia tellus praesentium maecenas iure quae. Occaecat, rerum metus, excepteur sit similique praesentium, consequatur dictum elit anim.</p>
        <a href="#" class="btn btn-info">Dummy Button</a>
      </div>

    </div>

    <div class="row pt-5 mb-3">

      <div class="col-md-12">
        <h3 class="h3">Full Width Column Heading</h3>
        <p>Lorem dictum quam nec quibusdam arcu! Sapien litora, exercitation mollis! Assumenda similique rhoncus erat molestias, pellentesque provident vitae? Tempor harum, consequuntur mollitia tellus praesentium maecenas iure quae. Occaecat, rerum metus. Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Praesentium corrupti nunc vulputate! Lorem sociosqu facilisi nam voluptate officia accusamus possimus, blandit, elementum similique voluptate, mollitia dignissim lacinia auctor, excepteur sit similique praesentium, consequatur class dignissim. Nemo doloremque. Fames lorem ipsum dolor sit amet consectectur elit facilisi.</p>
        <a href="#" class="btn btn-info">Dummy Button</a>
      </div>

    </div>

  </div>

</section>
<!-- /end section 1 -->



{% endblock %}
